<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
    <div
      class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
    >
      <p>
        Hi, I'm Esequiel, a front-end software developer from Santa Fe, Argentina.
        My primary tools of choice includes:
        JavaScript - React - Astro - Nodejs
        Beyond coding, I'm passionate about design, illustration, architectural visualization and 3D modelling.	
        Although I have my favorite tools, I am a person open to adopt new technologies.
        I try to find the right solution for each project.
      </p>
    </div>
  
  </article>