<header class="fixed top-0 flex justify-between items-center py-3 w-screen px-8 text-white mx-auto bg-blend-color-burn bg-gradient-to-b from-[#111c3b9d] to-[#ff17f714] z-50">
    <h1>My Portfolio</h1>
    <nav class="flex flex-row gap-4">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>
</header>